body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Adjust form below center */
  min-height: 100vh;
  background: url('../assets/LoginBackground.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.wrapper {
  width: 420px;
  background: transparent; /* Remove black box background */
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 245px; /* Move the form down */
}

.wrapper h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); /* Center the logo horizontally */
  max-width: 380px; /* Adjust logo size */
}

.input-box {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.35)); /* Gradient background */
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 15px 45px 15px 20px;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  background: transparent; /* Keep input field transparent */
  border: none;
  outline: none;
  color: white;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -10px 0 15px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 4px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  transition: background 0.3s ease, color 0.3s ease;
  margin-top: 40px;
}

.wrapper button:hover {
  background: #f1f1f1;
  color: rgb(30, 142, 255); /* Change text color to blue */
}

.register-link {
  padding-top: 15px;
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 8px;
}

.register-link a {
  color: rgb(30, 142, 255);
  text-decoration: none;
  font-weight: 600;
  margin-left: 4px;
}

.register-link a:hover {
  text-decoration: underline;
}

.back-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.back-button .icon {
  margin-right: 8px;
  font-size: 18px;
}

.back-button:hover {
  text-decoration: none;
}
